# ЗАДАНИЕ 1

In [ ]:
!wget -c http://vectors.nlpl.eu/repository/20/180.zip
#!wget -c https://rusvectores.org/static/models/rusvectores4/RNC/ruscorpora_upos_skipgram_300_5_2018.vec.gz
#!wget -c https://rusvectores.org/static/models/rusvectores4/fasttext/araneum_none_fasttextcbow_300_5_2018.tgz
!unzip 180.zip
#!tar -xvf ruscorpora_upos_skipgram_300_5_2018.vec.gz

--2020-12-09 21:35:55--  http://vectors.nlpl.eu/repository/20/180.zip
Resolving vectors.nlpl.eu (vectors.nlpl.eu)... 129.240.189.225
Connecting to vectors.nlpl.eu (vectors.nlpl.eu)|129.240.189.225|:80... connected.
HTTP request sent, awaiting response... 416 Requested Range Not Satisfiable

    The file is already fully retrieved; nothing to do.

Archive:  180.zip
replace meta.json? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: meta.json
replace model.bin? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: model.bin
replace model.txt? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: model.txt
replace README? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: README

In [ ]:
#with open("araneum_none_fasttextcbow_300_5_2018.model","rb") as file2:
#  file3 = file2.read()
#  print(file3[:100])

In [ ]:
import gensim

model = gensim.models.KeyedVectors.load_word2vec_format("model.bin", binary=True)
#model = gensim.models.KeyedVectors.load_word2vec_format("araneum_none_fasttextcbow_300_5_2018.model", binary=True)
model.init_sims(replace=True)
model.save_word2vec_format("model.txt")

In [ ]:
#with open('model.txt','r',encoding='utf-8') as fil:
#  fil = fil.read()
  #print(len(fil))

In [ ]:
#model['два_NUM']

#from pymystem3 import Mystem
#m = Mystem()
!pip install pymorphy2
!pip install pymorphy2-dicts-ru
import pymorphy2
morph = pymorphy2.MorphAnalyzer()
#m.lemmatize("Мама мыла раму")

Requirement already satisfied: pymorphy2 in /usr/local/lib/python3.6/dist-packages (0.9.1)
Requirement already satisfied: docopt>=0.6 in /usr/local/lib/python3.6/dist-packages (from pymorphy2) (0.6.2)
Requirement already satisfied: pymorphy2-dicts-ru<3.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from pymorphy2) (2.4.417127.4579844)
Requirement already satisfied: dawg-python>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from pymorphy2) (0.7.2)
Requirement already satisfied: pymorphy2-dicts-ru in /usr/local/lib/python3.6/dist-packages (2.4.417127.4579844)

In [ ]:
!pip install eli5
import eli5
from eli5.sklearn import PermutationImportance

Requirement already satisfied: eli5 in /usr/local/lib/python3.6/dist-packages (0.10.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from eli5) (2.11.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from eli5) (1.15.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from eli5) (1.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from eli5) (0.10.1)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from eli5) (1.18.5)
Requirement already satisfied: attrs>16.0.0 in /usr/local/lib/python3.6/dist-packages (from eli5) (20.3.0)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.6/dist-packages (from eli5) (0.22.2.post1)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.6/dist-packages (from eli5) (0.8.7)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->eli5) (1.1.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.18->eli5) (0.17.0)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.metrics.scorer module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.feature_selection.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.feature_selection. Anything that cannot be imported from sklearn.feature_selection is now part of the private API.
  warnings.warn(message, FutureWarning)

In [ ]:
model

In [ ]:
import re
def augment_word2vec(sentence, model=model):
    # your code here
    ready_list = []
    final_list = []
    for s in sentence.split(' '):
      p = morph.parse(s)[0]
      ready_list.append(str(p.normal_form) + '_' + str(p.tag.POS))
    #print(ready_list)
    for p in ready_list:
      p = re.sub('ADVB','ADV',str(p))
      p = re.sub('ADJF','ADJ',str(p))
      p = re.sub('ADJS','ADJ',str(p))
      p = re.sub('NUMR','NUM',str(p))
      if p in model:
        super_list = []
        m = model.most_similar(p, topn=10)
        for mm in m:
          #print(mm)
          super_list.append(mm[0])
        #print(super_list)
        p_re = re.findall('(.*?)_', str(p))
        for s in super_list:
          s_re = re.findall('(.*?)_', str(s))
          if s_re == p_re:
            continue
          else:
            final_list.append(' '.join(s_re))
            break
      else:
        p_re = re.findall('(.*?)_', str(p))
        final_list.append(' '.join(p_re))
          #m_re = re.findall('(.*?)_', str(m[0][0]))
        #if p_re == m_re or ' '.join(p_re) in ' '.join(m_re):
        #  m_re = re.findall('(.*?)_', str(m[1][0]))
        #  final_list.append(' '.join(m_re))
        #else:
        #  final_list.append(' '.join(m_re))
    return ' '.join(final_list)
    
augment_word2vec('Мама помыла раму')

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

'бабушка вымывать стекло'

In [ ]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

#model

#model.most_similar('red')

In [ ]:
#print(morph.parse('кошками')[0][1].case)
#print(morph.parse('кошками')[0][1].gender)
#print(morph.parse('кошками')[0].tag.POS)

In [ ]:
#def augment_word2vec_pos(sentence, model=model):
#  ready_list = []
#  final_list = []
#  spec_list = []
#  for s in sentence.split(' '):
#    p = morph.parse(s)[0]
#    small_l = []
#    small_l.append(str(p.normal_form))
#    small_l.append(str(p.tag.POS))
#    small_l.append(str(p[1].case))
#    small_l.append(str(p[1].gender]))
#    ready_list.append(str(p.normal_form) + '_' + str(p.tag.POS))
#    spec_list.append(small_l)
    #print(ready_list)
#  for p in ready_list:
#    p = re.sub('ADVB','ADV',str(p))
#    p = re.sub('ADJF','ADJ',str(p))
#    p = re.sub('ADJS','ADJ',str(p))
#    p = re.sub('NUMR','NUM',str(p))
#    if p in model:
#      super_list = []
#      m = model.most_similar(p, topn=10)
#      for mm in m:
        #print(mm)
#        super_list.append(mm[0])
        #print(super_list)
#      p_re = re.findall('(.*?)_', str(p))
#      for s in super_list:
#        s_re = re.findall('(.*?)_', str(s))
#        if s_re == p_re:
#          continue
#        else:
#          final_list.append(' '.join(s_re))
#          break
#    else:
#      p_re = re.findall('(.*?)_', str(p))
#      final_list.append(' '.join(p_re))
#  return ' '.join(final_list)

    # your code here
    #pass

In [ ]:
#augment_word2vec('Мама помыла раму')

# ЗАДАНИЕ 2

In [ ]:
from google.colab import drive
drive.mount('gdrive')

Mounted at gdrive

In [ ]:
%cd gdrive/My\ Drive/

!unzip medium_stories.zip

/content/gdrive/My Drive
Archive:  medium_stories.zip
replace Medium_Clean.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: Medium_Clean.csv

In [ ]:
import pandas as pd

# можно не использовать колонки с тегами
usecols = ["Title", "Subtitle", "Image", "Author", "Publication", "Year", "Month", "Day", "Reading_Time", "Claps", "url", "Author_url"]

df = pd.read_csv("Medium_Clean.csv", sep=",", usecols=usecols)
df["Claps"] = df["Claps"].astype(int)
#df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
#from sklearn.model_selection import train_test_split, KFold, StratifiedKFold,  RepeatedStratifiedKFold, GridSearchCV
from sklearn.linear_model import LinearRegression, Ridge

In [ ]:
# Удаление NaN

for col_name in df.columns:
    num_nan_values = len(df[df[col_name].isna()])
    print("Number of NaN values in %s column is %d" % (col_name, num_nan_values))
    if num_nan_values > 0:
        df = df.dropna(subset=[col_name])

print()
print("Total number of rows is %d" % df.shape[0])

Number of NaN values in Title column is 48813
Number of NaN values in Subtitle column is 417365
Number of NaN values in Image column is 0
Number of NaN values in Author column is 0
Number of NaN values in Publication column is 653844
Number of NaN values in Year column is 0
Number of NaN values in Month column is 0
Number of NaN values in Day column is 0
Number of NaN values in Reading_Time column is 0
Number of NaN values in Claps column is 0
Number of NaN values in url column is 0
Number of NaN values in Author_url column is 0

Total number of rows is 271011

In [ ]:
# Пропорциональное распределение заголовков

df["Title"].value_counts(normalize=True)

                                                                          0.000753
                                                                          0.000565
                                                                          0.000535
                                                                          0.000280
Las portadas del da                                                       0.000247
                                                                            ...
Donald Trump has fundamentally changed the nature of American politics    0.000004
4 Farm Fresh Overalls to Wear This Summer                                 0.000004
What Do You Think YOU Are Here To Do?                                     0.000004
Our Terrible Life                                                         0.000004
Some Great Music Episodes From Non-Music Podcasts                         0.000004
Name: Title, Length: 261356, dtype: float64

In [ ]:
# Пропорция уникальных авторов

len(df["Title"].unique()) / df.shape[0]

0.9643741397950637

In [ ]:
# удаление дубликатов

df = df.drop_duplicates(subset=["Title"])
len(df["Title"].unique()) / df.shape[0]

1.0

In [ ]:
df["Month"].value_counts() # Распределение по месяцам

10    23255
3     22853
1     22747
8     22334
7     22001
5     21952
11    21935
4     21799
6     21640
9     21031
2     20435
12    19374
Name: Month, dtype: int64

In [ ]:
df['Year'].value_counts() # Распределение по годам

2018    154369
2017    106987
Name: Year, dtype: int64

In [ ]:
df['title_len'] = df['Title'].apply(len)
df['title_len_tokens'] = df['Title'].apply(lambda x: len(x.split()))
df['number_of_caps'] = df['Title'].apply(lambda x: len([ch for ch in x if ch.isupper()]))
df['number_of_nonalphanum'] = df['Title'].apply(lambda x: len([ch for ch in x if not ch.isalnum()]))

# Статистика по следующим показателям:
## 1) Length of a title
## 2) Length of a tokenized title
## 3) Number of caps in a title
## 4) Number of non alpha nums in a title

In [ ]:
sent_num_subset = df["title_len"]

print("Standard deviation: %d" % sent_num_subset.std())
print("Median: %d" % sent_num_subset.median())
print("Min value: %d" % sent_num_subset.min())
print("Mean value: %d" % sent_num_subset.mean())
print("Max value: %d" % sent_num_subset.max())

Standard deviation: 18
Median: 35
Min value: 1
Mean value: 37
Max value: 278

In [ ]:
sent_num_subset_2 = df["title_len_tokens"]

print("Standard deviation: %d" % sent_num_subset_2.std())
print("Median: %d" % sent_num_subset_2.median())
print("Min value: %d" % sent_num_subset_2.min())
print("Mean value: %d" % sent_num_subset_2.mean())
print("Max value: %d" % sent_num_subset_2.max())

Standard deviation: 3
Median: 6
Min value: 0
Mean value: 6
Max value: 56

In [ ]:
sent_num_subset_3 = df["number_of_caps"]

print("Standard deviation: %d" % sent_num_subset_3.std())
print("Median: %d" % sent_num_subset_3.median())
print("Min value: %d" % sent_num_subset_3.min())
print("Mean value: %d" % sent_num_subset_3.mean())
print("Max value: %d" % sent_num_subset_3.max())

Standard deviation: 4
Median: 4
Min value: 0
Mean value: 4
Max value: 155

In [ ]:
sent_num_subset_4 = df["number_of_nonalphanum"]

print("Standard deviation: %d" % sent_num_subset_4.std())
print("Median: %d" % sent_num_subset_4.median())
print("Min value: %d" % sent_num_subset_4.min())
print("Mean value: %d" % sent_num_subset_4.mean())
print("Max value: %d" % sent_num_subset_4.max())

Standard deviation: 3
Median: 5
Min value: 0
Mean value: 5
Max value: 65

In [ ]:
df2 = df[:10000]
#df

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split, KFold, StratifiedKFold,  RepeatedStratifiedKFold, GridSearchCV
from sklearn.feature_extraction.text import CountVectorizer

#count_vect = CountVectorizer()

In [ ]:
X = df2[['title_len', 'title_len_tokens', 'number_of_caps', 'number_of_nonalphanum']].values
y = df2['Claps'].values

In [ ]:
X.shape # размерность матрицы объектов-признаков

(10000, 4)

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=59)

reg_1 = LinearRegression().fit(X_train,y_train)

x_pred_1 = reg_1.predict(X_test)

mse_1 = mean_squared_error(y_test, x_pred_1)
rmse_1 = np.sqrt(mse_1)

print(mse_1)
print()
print(rmse_1)

191379.80263547684

437.4697733963763

In [ ]:
reg_2 = Ridge(alpha = 1.0).fit(X_train,y_train)

x_pred_2 = reg_2.predict(X_test)

mse_2 = mean_squared_error(y_test, x_pred_2)
rmse_2 = np.sqrt(mse_2)

print(mse_2)
print()
print(rmse_2)

191379.81550518956

437.4697881056354

In [ ]:
reg_3 = Lasso(alpha = 1.0).fit(X_train,y_train)
#r_sq = reg.score(X, y)
#print(r_sq)

#reg_3.fit(X_train, y_train)
x_pred_3 = reg_3.predict(X_test)

mse_3 = mean_squared_error(y_test, x_pred_3)
rmse_3 = np.sqrt(mse_3)

print(mse_3)
print()
print(rmse_3)

#y_pred_3 = reg_3.intercept_ + reg_3.coef_ * X_test

#y_pred = reg.predict(X)

#print(y_pred_3)

191400.13530259332

437.4930117185797

Лучшей здесь можно назвать модель, полученную через линейную регрессию, поскольку её значения MSE и RMSE немного меньше, чем у других моделей.

In [ ]:
#from sklearn.metrics import  f1_score
#from sklearn import linear_model

#model = linear_model.LogisticRegression()
#model = model.fit(X_train, y_train)

In [ ]:
eli5.show_weights(reg_1, top=50)

In [ ]:
eli5_weights = eli5.formatters.as_dataframe.explain_weights_df(reg_1)
eli5_weights
#eli5_weights

  target feature      weight
0      y  <BIAS>  103.523432
1      y      x1    4.757208
2      y      x0    0.966304
3      y      x2   -0.179602
4      y      x3   -9.253766

In [ ]:
eli5.show_weights(reg_2, top=50)

In [ ]:
eli5.show_weights(reg_3, top=50)

In [ ]:
#class_number = len(df2.columns)
#top_features = []
#for i in range(class_number):
#  class_features = [int(i[1:]) for i in eli5_weights[eli5_weights.target==i].feature if 'BIAS' not in i]
#  len(class_features)
#  top_features += class_features[:1000]

In [ ]:
#reg_1.coef_.shape

#top_features

In [ ]:
class_number = len(df2.columns)

In [ ]:
#def analyze_features(model, n):
#    classes ={}
#    for class_index in range(class_number):
#        word_weights = [(weight, index_to_word[i]) for i,weight in enumerate(model.coef_[class_index])]
#        sorted_word_weights = sorted(word_weights, reverse=True)
#        sorted_words = [word for weight,word in sorted_word_weights]
#        classes[index_to_class[class_index]] = sorted_words[:n]
#    return classes

In [ ]:
#analyze_features(reg_1, 10)

In [ ]:
#from sklearn.neighbors import KNeighborsClassifier  

#from sklearn.svm import SVC 

#from sklearn import svm

#knn_model = KNeighborsClassifier(n_neighbors=5) 
#knn_model.fit(X_train, y_train)

In [ ]:
#train_preds = model.predict(X_train)
#test_preds = model.predict(X_test)

In [ ]:
#train_preds_k = knn_model.predict(X_train)
#test_preds_k = knn_model.predict(X_test)

In [ ]:
#print('result on train: {}'.format(f1_score(y_train, train_preds, average='micro')))
#print('result on test: {}'.format(f1_score(y_test,test_preds, average='micro')))

In [ ]:
#eli5.show_weights(model, top=50)

In [ ]:
#eli5_weights = eli5.formatters.as_dataframe.explain_weights_df(model)
#eli5_weights[eli5_weights.target==1]

In [ ]:
#class_number = len(para.columns)
#top_features = []
#for i in range(class_number):
#  class_features = [int(i[1:]) for i in eli5_weights[eli5_weights.target==i].feature if 'BIAS' not in i]
#  len(class_features)
#  top_features += class_features[:1000]

In [ ]:
#print('result on train: {}'.format(f1_score(y_train, train_preds_k, average='micro')))
#print('result on test: {}'.format(f1_score(y_test,test_preds_k, average='micro')))

In [ ]:
#svc_model = svm.SVC() 

#svc_model.fit(X_train, y_train)

In [ ]:
#train_preds_svc = svc_model.predict(X_train)
#test_preds_svc = svc_model.predict(X_test)

In [ ]:
#print('result on train: {}'.format(f1_score(y_train, train_preds_svc, average='micro')))
#print('result on test: {}'.format(f1_score(y_test,test_preds_svc, average='micro')))

In [ ]:
count_claps = df.Claps.value_counts(normalize=True) # подсчёт по Claps

In [ ]:
#len_tok = df.title_len_tokens.value_counts(
#    normalize=True) # подсчёт по длине токенов заглавия

In [ ]:
#pymorphy2.
#morph.parse("Котейка")
import gensim.downloader as api
dataset = api.load("text8")

In [ ]:
#morph.parse("Cats")
from gensim.models.word2vec import Word2Vec

from multiprocessing import cpu_count

data = [d for d in dataset]

model_en = Word2Vec(data[:1000], min_count = 0, workers=cpu_count())

In [ ]:
def augment_word2vec_en(sentence, model=model_en):
    final_list = []
    sentence = re.sub('[!@#$%^&*\(\)\[\]\{\}.,><?/-/"]',' ',str(sentence))
    for p in sentence.split():
      p = p.lower()
      if p in model:
        model_list = []
        for m in model.most_similar(p, topn=5):
          model_list.append(m[0])
        #print(p)
        for ml in model_list:
          if p != ml:
            final_list.append(ml)
            break
          else:
            continue
      else:
        final_list.append(p)
    return ' '.join(final_list)
    
#augment_word2vec_en('Baby shark do do do do do')

In [ ]:
word_vec_list = []
for w in df2['Title']:
  word_vec_list.append(augment_word2vec_en(w))

df2['Title_Word2Vec'] = word_vec_list

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: DeprecationWarning: Call to deprecated `__contains__` (Method will be removed in 4.0.0, use self.wv.__contains__() instead).

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: DeprecationWarning: Call to deprecated `most_similar` (Method will be removed in 4.0.0, use self.wv.most_similar() instead).

In [ ]:
df2.head()

# ЗАДАНИЕ 3

In [ ]:
para = pd.read_csv("/content/paraphrases.tsv", sep="\t")
para.head()

In [ ]:
from nltk.tokenize import word_tokenize
from nltk.tag import pos_tag
from nltk.corpus import wordnet as wn

In [ ]:
import nltk
nltk.download('punkt')

In [ ]:
nltk.download('averaged_perceptron_tagger')

In [ ]:
#from sklearn.feature_extraction.text import TfidfVectorizer

#from tqdm import tqdm

#new_train = para[]
#new_test = para[]

#count_vect = TfidfVectorizer()

#X = para[['text_1', 'text_2']].values
#y = para['class'].values

#train, test = train_test_split(X, y, test_size=0.30, random_state=27)

#train = np.concatenate((X_train,y_train),axis=1)

#test = np.concatenate((X_test,y_test),axis=1)

#fin_1 = []

#for index in tqdm(X):
  #print(index)
#  t1 = row['text_1']
#  t2 = row['text_2']
#  st = str(t1) + ' ' + t2
#  fin_1.append(st)


#X_1 = count_vect.fit_transform(X_train)
#X_2 = count_vect.transform(para['text_2'])
#y = para['class']

In [ ]:
#X_train = np.concatenate((X_1.toarray(), X_2.toarray()), axis = 1)

# 1) Рассматриваем только колонку "text_1" в качестве X.

In [ ]:
#train, test = train_test_split(para, test_size=0.3)

In [ ]:
# Удаление NaN

for col_name in para.columns:
    num_nan_values = len(para[para[col_name].isna()])
    print("Number of NaN values in %s column is %d" % (col_name, num_nan_values))
    if num_nan_values > 0:
        para = para.dropna(subset=[col_name])

print()
print("Total number of rows is %d" % para.shape[0])

Number of NaN values in text_1 column is 0
Number of NaN values in text_2 column is 0
Number of NaN values in class column is 0

Total number of rows is 8540

In [ ]:
para["text_1"].value_counts(normalize=True)

«Рубин» вышел в групповой этап Лиги Европы, где встретится с обладателем Кубка Англии.    0.003279
Четыре человека погибли в Непале в результате землетрясения                               0.001874
Число погибших в результате землетрясения в Непале возросло до 565                        0.001874
Число погибших в Индии после землетрясения в Непале превысило 50                          0.001639
СМИ: семь человек погибли в Индии после землетрясения в Непале                            0.001639
                                                                                            ...
Выброс хлора под Пермью: число пострадавших достигло 30 человек.                          0.000234
Минобороны объявило "большую охоту" на программистов.                                     0.000234
Болельщики ЦСКА призвали к бойкоту финала Кубка России в Грозном.                         0.000234
При столкновении автобуса и поезда в Канаде погибли 6 человек.                            0.000234
РБКweekend: вечеринки, фестивали и концерты с 20 по 22 сентября.                          0.000234
Name: text_1, Length: 3789, dtype: float64

In [ ]:
para["text_2"].value_counts(normalize=True)

"Все вроде замечательно, но теперь стоит вопрос - а что будет после Игр?"       0.017799
Какой футбол им не нужен - Против чего бразильцы протестуют и за что болеют.    0.005386
Завершилось голосование на выборах президента Казахстана                        0.003044
Более 1,5 тысячи человек погибли в результате землетрясения в Непале            0.002810
Число погибших от землетрясения в Непале превысило 1800                         0.002810
                                                                                  ...
«ВКонтакте» попал в реестр запрещенных сайтов.                                  0.000234
В Киеве задержали убийц журналиста                                              0.000234
Горящий паром Norman Atlantic удалось взять на буксир                           0.000234
Умерший при депортации из Лондона анголец был убит охранниками.                 0.000234
Здания Минобороны на Камчатке отключены от тепла за долги.                      0.000234
Name: text_2, Length: 3552, dtype: float64

In [ ]:
# Пропорция уникальных авторов

len(para["text_1"].unique()) / para.shape[0]

0.4436768149882904

In [ ]:
# удаление дубликатов

para = para.drop_duplicates(subset=["text_1"])
len(para["text_1"].unique()) / para.shape[0]

1.0

In [ ]:
para["class"].value_counts() # Распределение по классам

-1    2190
 1    1599
Name: class, dtype: int64

In [ ]:
para['text_1_len'] = para['text_1'].apply(len)
para['text_1_len_tokens'] = para['text_1'].apply(lambda x: len(x.split()))

In [ ]:
para.head()

                                              text_1  ... text_1_len_tokens
0  Совет юстиции Бразилии легализовал однополые б...  ...                 6
1  "Магнит" поручится перед "Абсолют Банком" за к...  ...                11
2  ЕС призвал США не бомбить Сирию до публикации ...  ...                10
3  Депо Московского метрополитена впервые перейде...  ...                 8
4  Два человека погибли в столкновениях между кур...  ...                 9

[5 rows x 5 columns]

# Статистика по следующим показателям:
## 1) Length of a title
## 2) Length of a tokenized title

In [ ]:
sent_num_subset = para["text_1_len"]

print("Standard deviation: %d" % sent_num_subset.std())
print("Median: %d" % sent_num_subset.median())
print("Min value: %d" % sent_num_subset.min())
print("Mean value: %d" % sent_num_subset.mean())
print("Max value: %d" % sent_num_subset.max())

Standard deviation: 10
Median: 60
Min value: 18
Mean value: 58
Max value: 116

In [ ]:
sent_num_subset_2 = para["text_1_len_tokens"]

print("Standard deviation: %d" % sent_num_subset_2.std())
print("Median: %d" % sent_num_subset_2.median())
print("Min value: %d" % sent_num_subset_2.min())
print("Mean value: %d" % sent_num_subset_2.mean())
print("Max value: %d" % sent_num_subset_2.max())

Standard deviation: 1
Median: 8
Min value: 3
Mean value: 8
Max value: 17

In [ ]:
X = para[['text_1_len', 'text_1_len_tokens']].values
y = para['class'].values

In [ ]:
X.shape # размерность матрицы объектов-признаков

(3789, 2)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=64)

In [ ]:
#count_vect = CountVectorizer()
reg__1 = LinearRegression().fit(X_train,y_train)
#r_sq = reg.score(X, y)
#print(r_sq)

#reg_1.fit(X_train, y_train)
x_pred__1 = reg__1.predict(X_test)

mse__1 = mean_squared_error(y_test, x_pred__1)
rmse__1 = np.sqrt(mse__1)

print(mse__1)
print()
print(rmse__1)

0.9738348562598954

0.9868307130708364

In [ ]:
random_prediction = np.random.rand(len(y_test))
mse = mean_squared_error(y_test, random_prediction)
rmse = np.sqrt(mean_squared_error(y_test, random_prediction))

In [ ]:
print(mse) # MSE
print(rmse) # RMSE

1.3928564905523089
1.1801934123491407

In [ ]:
#model = linear_model.LogisticRegression()
#model = model.fit(X_train, y_train)

In [ ]:
eli5.show_weights(model, top=50)

In [ ]:
eli5_weights = eli5.formatters.as_dataframe.explain_weights_df(model)
eli5_weights[eli5_weights.target==1]

   target feature    weight
0       1  <BIAS>  1.511254
1       1      x0 -0.007243
2       1      x1 -0.156711

In [ ]:
class_number = len(para.columns)
top_features = []
for i in range(class_number):
  class_features = [int(i[1:]) for i in eli5_weights[eli5_weights.target==i].feature if 'BIAS' not in i]
  len(class_features)
  top_features += class_features[:1000]

In [ ]:
top_features

[0, 1]

In [ ]:
#from sklearn.neighbors import KNeighborsClassifier  
#from sklearn.svm import SVC 
#from sklearn import svm

knn_model = KNeighborsClassifier(n_neighbors=5) 
knn_model.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
#eli5.show_weights(knn_model, top=30)

In [ ]:
train_preds = model.predict(X_train)
test_preds = model.predict(X_test)

In [ ]:
train_preds_k = knn_model.predict(X_train)
test_preds_k = knn_model.predict(X_test)

Стандартная модель:

In [ ]:
print('result on train: {}'.format(f1_score(y_train, train_preds, average='micro')))
print('result on test: {}'.format(f1_score(y_test,test_preds, average='micro')))

result on train: 0.5625504439063761
result on test: 0.5610640870616687

Модель на методе К-средних:

In [ ]:
print('result on train: {}'.format(f1_score(y_train, train_preds_k, average='micro')))
print('result on test: {}'.format(f1_score(y_test,test_preds_k, average='micro')))

result on train: 0.5932203389830508
result on test: 0.5175332527206772

Модель на методе SVC:

In [ ]:
svc_model = svm.SVC() 

svc_model.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
train_preds_svc = svc_model.predict(X_train)
test_preds_svc = svc_model.predict(X_test)

In [ ]:
print('result on train: {}'.format(f1_score(y_train, train_preds_svc, average='micro')))
print('result on test: {}'.format(f1_score(y_test,test_preds_svc, average='micro')))

result on train: 0.5669895076674738
result on test: 0.5477629987908101

Лучшей моделью в данном случае можно считать стандартную модель, поскольку предсказание на тестовой выборке у неё является наиболее точным.

In [ ]:
len_text = para.text_1_len.value_counts(
    normalize=True) # подсчёт по длине текста

In [ ]:
# len_text

In [ ]:
len_tok = para.text_1_len_tokens.value_counts(
    normalize=True) # подсчёт по токенам

In [ ]:
# len_tok

In [ ]:
word_vec_list = []
for i, row in para.iterrows():
  word_vec_list.append(augment_word2vec(row['text_1']))

In [ ]:
para['text_1_Word2Vec'] = word_vec_list

In [ ]:
para.head()

                                              text_1  ...                                    text_1_Word2Vec
0  Совет юстиции Бразилии легализовал однополые б...  ...  комитет финансы 7:6 узаконивать лесбийский браки.
1  "Магнит" поручится перед "Абсолют Банком" за к...  ...  "магнит" ручаться перед "абсолют банком" за сс...
2  ЕС призвал США не бомбить Сирию до публикации ...  ...  вто призывать америка не бомбить сирия до изда...
3  Депо Московского метрополитена впервые перейде...  ...  деповский нижегородский подземка воочию перехо...
4  Два человека погибли в столкновениях между кур...  ...  три человеческий погибать в конфликт между кур...

[5 rows x 6 columns]

# 2) Рассматриваем только колонку "text_2" в качестве X.

In [ ]:
para["text_2"].value_counts(normalize=True)

Перу влетело в $500 млн.                                                  0.000303
В Йемене взорвали ключевой нефтепровод.                                   0.000303
На бывшего мэра Лермонтова завели дело о воспрепятствовании выборам.      0.000303
Египет заявил, что спутник EgyptSat-2 находится под полным контролем      0.000303
Израиль освободил более 100 палестинских заключенных.                     0.000303
                                                                            ...
PayPal получила лицензию Банка России.                                    0.000303
В Рузе открыли памятник Зое Космодемьянской работы Церетели.              0.000303
В ДНР потребовали от ЕС объяснить поставки оружия Украине                 0.000303
В Армении начались выборы президента.                                     0.000303
В связи с нападением на машину главы «Росбалта» завели уголовное дело.    0.000303
Name: text_2, Length: 3305, dtype: float64

In [ ]:
# Пропорция уникальных авторов

len(para["text_2"].unique()) / para.shape[0]

1.0

In [ ]:
# удаление дубликатов

para = para.drop_duplicates(subset=["text_2"])
len(para["text_2"].unique()) / para.shape[0]

1.0

In [ ]:
para['text_2_len'] = para['text_2'].apply(len)
para['text_2_len_tokens'] = para['text_2'].apply(lambda x: len(x.split()))

In [ ]:
para.head()

                                              text_1  ... text_2_len_tokens
0  Совет юстиции Бразилии легализовал однополые б...  ...                 6
1  "Магнит" поручится перед "Абсолют Банком" за к...  ...                 8
2  ЕС призвал США не бомбить Сирию до публикации ...  ...                 8
3  Депо Московского метрополитена впервые перейде...  ...                 8
4  Два человека погибли в столкновениях между кур...  ...                 9

[5 rows x 8 columns]

# Статистика по следующим показателям:
## 1) Length of a title
## 2) Length of a tokenized title

In [ ]:
sent_num_subset = para["text_2_len"]

print("Standard deviation: %d" % sent_num_subset.std())
print("Median: %d" % sent_num_subset.median())
print("Min value: %d" % sent_num_subset.min())
print("Mean value: %d" % sent_num_subset.mean())
print("Max value: %d" % sent_num_subset.max())

Standard deviation: 13
Median: 55
Min value: 10
Mean value: 54
Max value: 158

In [ ]:
sent_num_subset_2 = para["text_2_len_tokens"]

print("Standard deviation: %d" % sent_num_subset_2.std())
print("Median: %d" % sent_num_subset_2.median())
print("Min value: %d" % sent_num_subset_2.min())
print("Mean value: %d" % sent_num_subset_2.mean())
print("Max value: %d" % sent_num_subset_2.max())

Standard deviation: 2
Median: 7
Min value: 2
Mean value: 7
Max value: 22

In [ ]:
X = para[['text_2_len', 'text_2_len_tokens']].values
y = para['class'].values

In [ ]:
#len(para['text_1_len'])

In [ ]:
#len(para['text_2_len'])

In [ ]:
X.shape # размерность матрицы объектов-признаков

(3305, 2)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=87)

In [ ]:
random_prediction = np.random.rand(len(y_test))
mse = mean_squared_error(y_test, random_prediction)
rmse = np.sqrt(mean_squared_error(y_test, random_prediction))

In [ ]:
print(mse) # MSE
print(rmse) # RMSE

1.464095758512947
1.2099982473181303

In [ ]:
model = linear_model.LogisticRegression()
model = model.fit(X_train, y_train)

In [ ]:
eli5.show_weights(model, top=50)

In [ ]:
eli5_weights = eli5.formatters.as_dataframe.explain_weights_df(model)
eli5_weights[eli5_weights.target==1]

   target feature    weight
0       1      x0  0.026254
1       1      x1 -0.157610
2       1  <BIAS> -0.391198

In [ ]:
#para.columns

Index(['text_1', 'text_2', 'class', 'text_1_len', 'text_1_len_tokens',
       'text_1_Word2Vec', 'text_2_len', 'text_2_len_tokens',
       'text_2_Word2Vec'],
      dtype='object')

In [ ]:
class_number = len(para.columns)
top_features = []
for i in range(class_number):
  class_features = [int(i[1:]) for i in eli5_weights[eli5_weights.target==i].feature if 'BIAS' not in i]
  len(class_features)
  top_features += class_features[:1000]

In [ ]:
top_features

[0, 1]

In [ ]:
#from sklearn.neighbors import KNeighborsClassifier  
#from sklearn.svm import SVC 
#from sklearn import svm

knn_model = KNeighborsClassifier(n_neighbors=5) 
knn_model.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
eli5.show_weights(knn_model, top=50)

In [ ]:
train_preds = model.predict(X_train)
test_preds = model.predict(X_test)

In [ ]:
train_preds_k = knn_model.predict(X_train)
test_preds_k = knn_model.predict(X_test)

Стандартная модель:

In [ ]:
print('result on train: {}'.format(f1_score(y_train, train_preds, average='micro')))
print('result on test: {}'.format(f1_score(y_test,test_preds, average='micro')))

result on train: 0.5399515738498789
result on test: 0.562273276904474

Модель на методе К-средних:

In [ ]:
print('result on train: {}'.format(f1_score(y_train, train_preds_k, average='micro')))
print('result on test: {}'.format(f1_score(y_test,test_preds_k, average='micro')))

result on train: 0.6105730427764327
result on test: 0.5392986698911729

Модель на методе SVC:

In [ ]:
svc_model = svm.SVC() 

svc_model.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
eli5.show_weights(svc_model, top=50)

In [ ]:
train_preds_svc = svc_model.predict(X_train)
test_preds_svc = svc_model.predict(X_test)

In [ ]:
print('result on train: {}'.format(f1_score(y_train, train_preds_svc, average='micro')))
print('result on test: {}'.format(f1_score(y_test,test_preds_svc, average='micro')))

result on train: 0.5710250201775625
result on test: 0.5840386940749698

Лучшей моделью в данном случае можно считать модель, полученную методом SVC, поскольку предсказание на тестовой выборке этой модели превосходит предсказания других моделей на той же самой выборке.

In [ ]:
len_text = para.text_1_len.value_counts(
    normalize=True) # подсчёт по длине текста

In [ ]:
# len_text

In [ ]:
len_tok = para.text_1_len_tokens.value_counts(
    normalize=True) # подсчёт по токенам

In [ ]:
# len_tok

In [ ]:
word_vec_list = []
for i, row in para.iterrows():
  word_vec_list.append(augment_word2vec(row['text_2']))

In [ ]:
para['text_2_Word2Vec'] = word_vec_list

In [ ]:
para.head()

                                              text_1  ...                                    text_2_Word2Vec
0  Совет юстиции Бразилии легализовал однополые б...  ...    комитет финансы 7:6 разрешать лесбийский браки.
1  "Магнит" поручится перед "Абсолют Банком" за к...  ...  производство сигаретка в сас падать из-за анти...
2  ЕС призвал США не бомбить Сирию до публикации ...  ...  евросоюз призывать америка дождаться заседание...
3  Депо Московского метрополитена впервые перейде...  ...  собственность фирма воочию отдавать деповский ...
4  Два человека погибли в столкновениях между кур...  ...  одинаковый человеческий погибать при конфликт ...

[5 rows x 9 columns]